# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
node_modules/
dist/electron/*
dist/web/*
build/*
!build/icons
node_modules/
npm-debug.log
npm-debug.log.*
yarn-debug.log*
yarn-error.log*
thumbs.db
!.gitkeep
