.container {
  width: 100%;
  max-width: 960px;
  text-align: center;
}

/* Logo styles */
.logo {
  position: relative;
  margin-top: 30px;
  margin-bottom: 15px;
}

.logo-img {
  display: block;
  width: auto;
  max-width: 75%;
  margin: 0 auto;
}

/* Form styles */
.container form {
  text-align: left;
}

.container form input {
  width: 100%;
  border-radius: 2px;
  border: 1px solid #BBBBBB;
  padding: 7px;
  font-weight: bold;
  margin-bottom: 8px;

  -webkit-box-shadow:inset 0 0 2px #BBB;
  -moz-box-shadow:inset 0 0 2px #BBB;
  box-shadow:inset 0 0 2px #BBB;
  background: transparent;
}

.container form label {
  color: #3B52FD;
  margin-bottom: 0;
}

/* Button Styles */
.button-blue {
  background: #3B52FD;
  border: none;
  padding: 12px;
  color: #ffffff;
  font-weight: bold;
}

#button-join {
  border-radius: 5px;
  font-size: 12px;
  width: 100%;
  margin-top: 5px;
  font-weight: 800;
}

#button-download {
  border-radius: 3px;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  text-shadow: 1px 1px #000000;
}

@media (max-width: 480px) {
  #button-download {
    width: 100%;
    font-size: 16px;
  }
}