
*
{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body
{
      font-family: 'Open Sans', sans-serif;
      background-color: black;
}
.stateview 
{ 
    min-height: 99vh;
    background: #bbc;
    padding: 10px;
}



.judgeName 
{
      color: red; 
      font-weight: bold;
}
.chosenQuestion
{
  font-weight: bold;
}

button
{
      margin: 0 auto;
      margin-top: 1%;
      color:white; 
      background-color: #333333; 
      border-radius:2vw; 
      border: none; 
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      width: 80vw; 
      height:5vh;
      display: block;
}



button:active
{
    background-color: #FFE161;
}

/* hide input
*/
input[type="radio"]{
	display:none;
}



label
{
    min-height: 25px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 1px solid #333333;
    background-color: #ddf;
    text-align: center;
}

/*
.voteList div
{
	display:block;
	width: 90%;
	min-height: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	
}
.voteList input
{
	margin: 0 0 0 10;
}
.voteList label
{
	display:inline-block;
	width: 90%;
  border-radius: 3px;
  border: 1px solid #333333;
	margin: 0 auto;
}
*/
@keyframes selectAnimation {
    from {background-color: transparent;}
    to {background-color: #FFE161;}
}
input[type="radio"]:checked ~ label
{
	  background-color: #FFE161;
    animation-name: selectAnimation;
    animation-duration: 0.5s;
}
h1
{
    color:white;
    text-align: center;
}

.debug
{
    display: none;
}

#questionCustom
{
	display: inline;
	background-color: white;
	width: 100%;
  border-radius: 3px;
	border:none;
	text-align: centre;
}

input[type="text"]
{
	display: block;
	margin: 0 auto;
	background-color: #FFFFFF;
	width: 100%;
  border-radius: 3px;
	border:none;
	min-height: 25px;
	width: 90%;
	display: block;
  border-radius: 3px;
  border: 1px solid #333333
}

/*if 2 inputs are checked mark the following label with a 2*/
.voteList input:checked ~ input:checked + label:after
{
    content:" (2)";
}
/*

input[type="radio"] + label
{
	
}
.questionList input[type="radio"]:checked + label input
{
	
}
*/